*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container
{
    width: 100%;
    height: auto;
    background-color: white;
}

.main
{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

nav
{
    width: 100%;
    height: 100px;
    background-color: white;
}

nav ul
{
    float: right;

}

nav ul li
{
    display: inline-block;
    list-style-type: none;
}

nav ul li a
{
    text-decoration: none;
    color: #66ff00;
    line-height: 100px;
    padding: 5px 20px;
    font-size: 13px;
    letter-spacing: 0.9px;
    border: 1px solid #66ff00;
    border-radius: 1px;
    text-transform: uppercase;
    font-family: cursive;
    font-weight: bolder;

}
nav ul li a:hover
{
    background-color: #66ff00;
    color:white;
}

.logo
{
    float: left;
    line-height: 100px;
}
.logo h1
{
    color: #66ff00;
    font-weight: bolder;
    
}

.slider
{
    width: 100%;
    height: 600px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Assets/Images/Slider.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    
}
.title
{
    width: 40%;
    height: auto;
    position: absolute;
    left: 18.5%;
    
}

.title h1
{
    color: white;
    font-size: 60px;
}

span
{
    color:#66ff00;
}

.title p
{
    color: white;
    font-size: 25px;
}
.title .btn
{
    color: #fff;
    background-color: #66ff00;
    border-radius: 3px;
    padding: 16px 36px;
    text-align: center;
    letter-spacing: 0.5px;
    text-decoration: none;
    margin-right: 10px;
    line-height: 26px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase
    

    
}

.services
{
    background-color: #63d471;
background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);

    background-size: cover;
    background-position: center;
    padding: 60px 0;

}

.inner-width
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;

}
.section-title
{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
}
.border
{
    width: 160px;
    height: 2px;
    background: #39FF14;
    margin: 40px auto;
}
.services-container
{
    display: flex;
    justify-content: center;
}

.service-box
{
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.service-icon
{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #39FF14; 
    color: #39FF14;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;


}

.service-icon i
{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;

}

.service-box:hover .service-icon
{
    background: #39FF14;
    color: #ddd;

}
.service-title
{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.service-desc
{
    font-size: 14px;

}